* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Andada', sans-serif;
    font-weight: 400;
}

.highlight, pre {
    margin-bottom: 1em;
}

body {
    background: #333;
    background-image: url('../images/dark_Tire.png');
}
a {
    color: rgb(89, 172, 0);
}

header {
    background: #bbb;
    background-image: url('../images/gplaypattern.png');
}

.main {
    background: #ebebeb;
    background-image: url('../images/farmer.png');
}

footer {
    background: #646464;
    background-image: url('../images/low_contrast_linen.png');

    padding-top: 1em;
}
footer a {
    color: rgb(183, 247, 114);
}

.picture {
    margin-left: 1em;
    margin-right: 1em;
}
.caption {
    margin-bottom: 0;
}

.license {
    border-width: 0;
}

.toc {
    background: #eee;

    position: fixed;

    padding-left: 1em;
    padding-right: 1em;

    border-radius: 0.2em;
}
.toc, .toc ul {
    list-style-type: none;
}
