html, body, article{background:white;font-size:12pt !important;}
.row .one,
.row .two,
.row .three,
.row .four,
.row .five,
.row .six,
.row .seven,
.row .eight,
.row .nine,
.row .ten,
.row .eleven,
.row .twelve,
.row .offset-by-one,
.row .offset-by-two,
.row .offset-by-three,
.row .offset-by-four,
.row .offset-by-five,
.row .offset-by-six,
.row .offset-by-seven,
.row .offset-by-eight,
.row .offset-by-nine,
.row .offset-by-ten,
.row .centered,
.row .offset-by-one:first-child,
.row .offset-by-two:first-child,
.row .offset-by-three:first-child,
.row .offset-by-four:first-child,
.row .offset-by-five:first-child,
.row .offset-by-six:first-child,
.row .offset-by-seven:first-child,
.row .offset-by-eight:first-child,
.row .offset-by-nine:first-child,
.row .offset-by-ten:first-child,
.row .offset-by-eleven:first-child{margin:0 !important;width:auto !important; float:left !important;}
.print-only{display:none !important;}
a:link,a:visited{color:#666 !important;}

.toc, #fork {
    display: none;
}
